* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(233, 19%, 92%);
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: 30% auto, 30% auto;
}

.circle-container {
    position: absolute;
    bottom: 0px;
    left: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: skyblue;
    border-radius: 50%;
    margin: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 75vw;
    height: 80vh;
    background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-size: 25%, 20%;
    background-color: hsl(240, 78%, 98%);
    color: hsl(232, 13%, 33%);
    overflow-y: auto;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.mainHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.heading {
    font-size: 45px;
    font-family: Montserrat;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
}

.container {
    margin-top: 40px;
}

.professional-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    font-weight: 700;
}

.basic-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);
    font-weight: 700;

}

.master-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);
    font-weight: 700;
}

.plans .pricing {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plans .pricingValue {
    font-size: 4.5rem;
    font-weight: 700;
}

.plans .dollar {
    font-size: 2rem;
    margin-right: 8px;
    font-weight: 700;
}

.plans .button .backgroundBlue {
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    color: white;
    padding: 10px 40px;
}

.plans .button .backgroundWhite {
    background: white;
    color: hsl(237, 63%, 64%);
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-family: Montserrat;
}

.toggle {
    appearance: none;
    cursor: pointer;
    width: 50px;
    height: 26px;
    background-color: hsl(228, 45%, 44%);
    border-radius: 13px;
    position: relative;
}

.toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-color: white;
    transition: transform 0.2s;
}

.toggle:checked::before {
    transform: translateX(24px);
}

@media (max-width: 1074px) {
    .cards .mainHeading {
        display: flex;
        flex-direction: column;
    }

    .heading {
        margin-top: 530px;
    }

    .cards .plans {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    .circle-container {
        display: none;
    }
}

@media (max-width: 845px) {

    .cards .mainHeading {
        display: flex;
        flex-direction: column;
    }

    .heading {
        margin-top: 540px;
    }

    .cards .plans {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;

    }

    .circle-container {
        display: none;
    }
}


@media (max-width: 480px) {

    .cards .mainHeading {
        display: flex;
        flex-direction: column;
    }

    .mainHeading .heading {
        margin-top: 570px;
    }

    .plans .button .backgroundBlue,
    .plans .button .backgroundWhite {
        padding: 8px 30px;
    }

    .circle-container {
        display: none;
    }
}