body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color:hsl(240, 78%, 98%);
    color: hsl(232, 13%, 33%);
    text-align: center;
    height: 895px;
}
body::before{
    content: '';
    background-image: url('./images/bg-top.svg');
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

body::after{
    content: '';
    background-image: url('./images/bg-bottom.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.monthly::before{
    content:'$';
    font-size: 30px;
    vertical-align: middle;
}
.annually::before{
    content:'$';
    font-size: 30px;
    vertical-align: middle;
}
.container{
    margin: auto;
    max-width: 100%;
    width: 1440px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: hsl(233, 13%, 49%);
}

.toggle-container{
    color: hsl(234, 14%, 74%);
    margin: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.toggle-container label{
    background-image: linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    display:inline-block;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 50px;
    margin: 0 10px;
    cursor: pointer;
}
.toggle-container label .ball{
    position: absolute;
    top:2.5px;
    left: 2.5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}
.toggle-container input{
    position: absolute;
    left:-99999999999px;
}

.Desription{
    background-color: white;
    border-radius: 10px;
    color: hsl(233, 13%, 49%);
    margin: 10px;
    padding: 30px;
    box-shadow: 5px;
}
.Desription:hover{
    background-image: linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    transform: scale(1.15)
}
h4{
    margin: 0;
}

p{
    font-size: 4em;
    margin:15px 0;
    width:300px;
}

/* .Desription.highlighted{
    background-image: linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    transform: scale(1.15);
}
.Desription.highlighted button{
    background-image: none;
    background-color: white;
    color:hsl(237, 63%, 64%);
} */

.Desription button{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border:none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    color: white;
    letter-spacing: 2px;
}

.Desription .monthly{
    display: none;
}
.show-monthly .Desription .monthly{
    display: block;
}
.show-monthly .Desription .annually{
    display: none;
}

ul{
    border-top: 1px solid hsl(234, 14%, 74%);
    padding: 0;
    list-style-type: none;
}

li{
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 15px;
    font-size: 15px;
}

.toggle-container input:checked + label .ball{
    left:auto;
    right:2.5px;
}

@media screen and (max-width:930px){
    .flex{
        flex-direction: column;
    }
    .Desription.highlighted{
        transform: scale(1);
    }
}