
/* toggle references : https://freefrontend.com/css-toggle-switches/
                    https://codepen.io/garetmckinley/pen/YmxYZr?editors=1100
                    https://www.w3schools.com/howto/howto_css_switch.asp
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height:100vh;
  background-color:hsl(240, 78%, 98%);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  background-image: url('./images/bg-bottom.svg'), url('./images/bg-top.svg');
  background-position: bottom left, top right;
  background-repeat: no-repeat;
}

.container {
    width: 60rem;
    height: 37rem;
    margin: auto;
    margin-top:4rem;
    /* border: 1px purple dashed; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.container h1 {
    /* border: 1px red dashed; */
    text-align: center;
    flex:1;
    color: hsl(232, 13%, 33%);
}

.pricing-toggle {
    /* border: 1px red dashed; */
    text-align: center;
    flex:1.5;
    display:flex;
    justify-content: center;
    align-items: center;
    color: hsl(233, 13%, 49%);
}

.cards {
    display: flex;
    /* border: 1px blue dashed; */
    width: 100%;
    flex:7;
    height: 1rem;
}

.card-container {
  width: 33.33%;
  /* border: 1px orangered dashed; */
  height: 90%;
  border-radius: 10px;
  margin: auto;
  background-color: #FFF;
  color: hsl(232, 13%, 33%);
  box-shadow: 2px 2px 5px 0 gray;
}

.card {
    width: 85%;
    height: 90%;
    margin: auto;
    margin-top: 7%;
    padding-top:10px;
    /* border: 1px green dashed; */
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price  {
  font-size: 3.5rem;
  /* border: 1px red dashed; */
  margin-top: 7%;
  margin-bottom: 7%;
  color:  hsl(232, 13%, 33%);
}

.card-info {
  /* border: 1px orange dashed; */
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: 1px gray solid;
}

.card-info-three {
  border-bottom: 1px gray solid;
}

.card button {
  width: 100%;
  height: 12%;
  margin-top: 5%;
  padding: 3%;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: hsl(237, 63%, 64%);
  color: #FFF;
  font-weight: 700;
  border: 1px hsl(237, 63%, 64%) solid;
}

.card button:hover {
  color: hsl(237, 63%, 64%);
  background-color: #FFF;
  border: 1px hsl(237, 63%, 64%) solid;
}

.card-middle {
  background-color: hsl(237, 63%, 64%);
  /* transform: scale(1.1,1.1); */
  /* margin-bottom: 40px;  */
  height: 100%;
}

.card-middle .card {
  height: 80%;
  margin-top: 15%;
  color: #FFF;
}

.card-middle .price {
  color: #FFF;
}

.card-middle button {
  color: hsl(237, 63%, 64%);
  background-color: #FFF;
  font-weight: 700;
  border: 1px #FFF solid;
}

.card-middle button:hover {
  color:#FFF;
  background-color: hsl(237, 63%, 64%);
  border: 1px #FFF solid;
}
.card-middle .card-info{
  border-top: 1px white solid;
}

.card-middle .card-info-three {
  border-bottom: 1px white solid;
}

#toggle-btn {
  display: none;
}

.toggle-bar {
  position: relative;
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: hsl(236, 72%, 79%);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.toggle-bar:after {
  content : "";
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 1.5rem; 
  position: absolute;
  top:0.2rem;
  left:0.2rem;
  background-color: #FFF;
}

#toggle-btn:checked ~ .toggle-bar {
  background-color: hsl(237, 63%, 64%);
}

#toggle-btn:checked ~ .toggle-bar:after {
  left: 2rem;
}

@media (max-width: 400px) {

  body {
  height: 100vh;
  background-image: url('./images/bg-top.svg');
  background-position: top right -11rem;
  }
  .container {
    width: 300px;
  }
  
  .card-container {
    width: 100%;
    margin-bottom:3rem;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    margin-bottom: 2rem;
  }
}